In [1]:
class Ineuron:
    company_website = "https://ineuron.ai"
    name = "Ineuron"

In [2]:
Ineuron

__main__.Ineuron

### Multiple Inheritance

In [6]:
class Parent1:
    def func1(self):
        print("Hello from parent 1")
        
class Parent2:
    def func2(self):
        print("Hello from parent 2")
        
class child(Parent1, Parent2):
    def func3(self):
        print("Hello from child")

In [7]:
test = child()

In [16]:
class Person:
    def func1(self):
        print("I am a person")

class Company:
    def __init__(self, private, public):
        self.private = private
        self.public = public
    
    def func2(self):
        print("I am a company")
        
class Employee(Person, Company):
    
    def func3(self):
        print("I am a employee")

In [18]:
t = Employee(4 , 5)

In [21]:
t.func3()

I am a employee

In [22]:
# Multi level inheritance

In [24]:
class test1:
    def a(self):
        print("Inside test1...")
    
class test2(test1):
    def b(self):
        print("Inside test2...")
        
class test3(test2):
    def c(self):
        print("Inside test3...")

In [25]:
a=test3()

In [27]:
a.a()

Inside test1...

In [29]:
class Vehicle:
    def info(self):
        print("Inside Vehicle class...")
        
class Car(Vehicle):
    def car_info(self):
        print("Inside Car class...")
        
class Sportscar(Car):
    def sports_car_info(self):
        print("Inside Sportscar class...")

In [30]:
a = Sportscar()

In [32]:
a.sports_car_info()

Inside Sportscar class...

In [37]:
class Phones:
    
    def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        self.price = price
        
    def spec(self):
        return (f"Brand: {brand}, Model: {model}, Price: {price}")
        
        
    def type_of_phone(self):
        if self.price < 25000:
            print("This is a budget phone")
        else:
            print("This is a mid range phone")
            
class Smartphone(Phones):
    
    def __init__(self, brand, ram, model, price, storage):
        super().__init__(brand, model, price)
        self.ram = ram
        self.storage = storage
        
class Flagshipphone(Smartphone):
    
    def __init__(self, brand, model, price, frontcamera, backcamera, display, ram, storage):
        super().__init__ (brand, model, price, ram, storage)
        self.frontcamera = frontcamera
        self.backcamera = backcamera
        self.display = display

In [39]:
jam = Flagshipphone("Samsung", "A52", 30500, "30 MP", "50 MP", "LCD", "16 GB", "360 GB")

In [42]:
jam.backcamera

'50 MP'

In [45]:
jam.type_of_phone()

TypeError: '<' not supported between instances of 'str' and 'int'

In [76]:
class Vehicle:
    def info(self):
        print("This is a vehicle...")
        
class Car (Vehicle):
    def car_info (self, name):
        print("Car Name:", self.name)
        
class Truck(Vehicle):
    def truck_info(self, name):
        print("Truck Name:", name)

In [74]:
s1= Car()

In [79]:
s1.info()

This is a vehicle...

In [81]:
s1.car_info("Toyota")

AttributeError: 'Car' object has no attribute 'name'

In [82]:
class Company:
    def company_name(self):
        return "Ineuron"
    
class Employee(Company):
    def info (self):
        company_name = super().company_name()
        print("I work at ",company_name)

In [84]:
james = Employee()
james.company_name()

'Ineuron'

In [85]:
james.info()

I work at  Ineuron

# once you initialise a child class in python you can call super().__init__ method. This initialises the parent class object into child class.

In [87]:
class Parent:
    def __init__(sefl, v1,v2):
        self.v1 = v1
        self.v2 = v2
        
class Child(Parent):
    def __init__(self, v1,v2,v3):
        self.v1=v1
        self.v2=v2
        self.v3=v3

# Instead of the above code, we can code as below by using super method

In [91]:
class Parent:
    def __init__(self, v1,v2):
        self.v1 = v1
        self.v2 = v2
        
class Child(Parent):
    def __init__(self, v1, v2, v3):
        super().__init__(v1,v2)
        self.v3 = v3

In [94]:
c1 = Child(1, 3, 5)

In [95]:
c1.v1

1

In [96]:
c1.v2

3

In [97]:
c1.v3

5

In [139]:
class Parent:
    def __init__(self):
        print("This is parent")
        
class Parent1:
    def __init__(self):
        print("This is parent1")
        
class Parent2:
    def __init__(self):
        print("This is parent2")

class Child(Parent2, Parent1, Parent):
    def __init__(self):
        super().__init__()
        print("Hello, I am the child")

In [140]:
k = Child()

This is parent2
Hello, I am the child